@font-face {
  font-family: 'windowsFont';
  src: url('Windows.ttf') format('truetype');
}

body {
  background: url(images/Wallpapers/bliss.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 0px;
  padding: 0px;
}

.scanLine{
  
  position: relative;
  z-index: 3000;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  pointer-events: none;
}

.appText {
  font-family: windowsFont;
  font-size: medium;
  color: white;
  margin: 0;
  position: absolute;
  text-shadow: 2px 2px 2px black;
  top: 50%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 25%);    
}


/* COMPUTER */
#ComputerImageElement {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 5%;
}

#computerText {
  top: 10%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 40%);
}

#ComputerDiv {
  position: absolute;
  z-index: 15;
  display: none;
  top: 50%;
  left: 50%;
}

/* CAMERA */
#CameraImageElement {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 4.5%;
}
#CameraText {
  top: 30%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 40%);
}

#CameraDiv {
  position: absolute;
  z-index: 15;
  display: none;
  top: 50%;
  left: 50%;
}
#screenshotButton {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MUSIC */
#MusicImageElement {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 5%;
}

#MusicText {
  top: 50%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 40%);
}

#MusicDiv  {
  position: absolute;
  width: 700px;
  z-index: 15;
  display: none;
  top: 50%;
  left: 50%;
}

/* ACCOUNTS */
#AccountImageElement {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 5%;
}

#AccountText {
  top: 70%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 40%);
}
/* MALWARE */
#MalwareImageElement {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 13%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 5.5%;
}

#MalwareText {
  top: 10%;
  left: 13%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 40%);    
  }

#MalwareDiv  {
  z-index: 1050;
  transform: translate(-50%,-50%);
  position: absolute;
  display: none;
  }

/* WEBSITE */
#WebsiteImageElement {
  z-index: 1;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 13%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 4.5%;
}

#WebsiteText {
  z-index: 1;
  top: 30%;
  left: 13%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 40%);    
}
/* NOTEPAD */
#NotepadImageElement {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 13%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 4.7%;
}

#NotepadText {
  top: 50%;
  left: 13%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 40%);    
  }

#NotepadDiv  {
  z-index: 1050;
  height: 380px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  display: none;
}
#notepad {
  z-index: 1050;
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#textarea {
  z-index: 1050;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font-family: sans-serif;
  font-size: 16px;
}

/* SREENSAVER */
#ScreensaverImageElement {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 13%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 5.5%;
}

#ScreensaverText {
  top: 70%;
  left: 13%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 40%);    
  }

#ScreensaverDiv  {
  z-index: 1050;
  transform: translate(-50%,-50%);
  position: absolute;
  display: none;
}

#taskbar {
  z-index: 2000;
  content:url(images/taskbar.png);
  height: 32px;
  width: 10000px;
  position: fixed;
  bottom: 0;
  transform: translate(0%, 10%);  
}

#clock {
  z-index: 2051;
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: windowsFont;
  font-size: medium;
  color: white;
  transform: translate(-15%, -15%);
}

/* Style the start button */
.start-button {
  z-index: 2052;
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

/* Style the start menu */
.start-menu {
  z-index: 2051;
  position: fixed;
  bottom: 32px;
  left: 0;
  background-color: white;
  border: 1px solid gray;
  display: none;
}

/* Style the start menu links */
.start-menu a {
  z-index: 2051;
  width: 100px;
  height: 15px;
  display: block;
  padding: 12px;
  text-decoration: none;
  color: black;
}

/* Style the start menu links on hover */
.start-menu a:hover {
  z-index: 2051;
  background-color: lightgray;
}